h1 {
	text-align: center;
}

h2 {
	margin-top: 3%
}

p {
	margin: 3% 10%;
	font-size: 120%;
	text-align: justify;
}

/*section div{
	width: 70%;
	margin: auto;
}*/

.center {
	margin: 0;
	float: left;
}

.imgWrap {
	width: 50%;
	float: left;
	overflow: hidden;
}

section {
	margin-left: 10%; 

}

#flex {
	display: flex;
	flex-direction: column;
}

img {
	width: 500px;
	float: left;
}