body {
	height: 96vh;
}
form {
	border: 2px solid #2a9;
	width: 50%;
	margin-left: 25%;
	margin-top: 25vh;
}

div {
	margin: 3% 0;
	padding-left: 30%;
	position: relative; 
}

div input {
	position: absolute;
	left: 55%;
	width: 30%;
}

input[type = 'E-mail']:invalid {
	background-color: #ffdddd;
}

input[type = 'E-mail']:valid {
  background-color: #B0C4DE;
}

input:required {
	font-weight: bold;
}

input:optional:not([type=button]) {
	background-color: #E0FFFF;
}

form img {
	 width: 20%;
	 height: 20%;
	 margin-top: -20%;
	 margin-left: 40%;
}

[type=button] {
	font-size: 150%;
	margin-left: 35%;
	margin-bottom: 3%;
	background-color: #FF7F50;
	width: 30%;
}
[type=button]:active {
	color: #FFEFD5;
}

footer {
	margin-top: 8%;
}