section p, section ul {
	font-size: 120%;
}
.map {
	/*margin: auto;
	float: right;*/
	position: absolute;
	top: 50%;
	right: 1%;
	width: 60%;
	height: 70vh;
	margin-top: 3%;
}

p {
	text-align: justify;
}

h2 {
	text-align: center;
}

section {
	position: relative; /* Паника, может всё накрыться!*/
	margin: 0 3% ;
}

.list {
	list-style-type: none;
}