body {
	background-image: url('Фото города/fon.jpg');
	background-size: cover;
}
.gallery {
	width: 100%;
	height: 100vh;
	
}

header nav ul {
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	list-style-type: none;
}

footer ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
}

.row {
	display: flex;
}

.row img {
	width: 25%;
	height: 40vh;
	margin: 3% auto;

	border: 5px solid #fff;
}

footer {
	margin-top: 40px;
}

#nameTown {
	color: #FFFF00;
}
